---
layout: default
---

{% include /content/about.html %}

{% include /content/blog.html %}

{% include /content/news.html %}

{% include /content/publication.html %}

{% include /content/miscellaneous.html %}

{% include /content/contact.html %}

<!-- Scripts -->
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery.scrollzer.min.js"></script>
	<script src="js/jquery.scrolly.min.js"></script>
	<script src="js/skel.min.js"></script>
	<script src="js/util.js"></script>
	<!--[if lte IE 8]><script src="js/ie/respond.min.js"></script><![endif]-->
	<script src="js/main.js"></script>

