<!-- About -->
	<section id="About">
		<div class="container">
			<header class="major">
				<h2>Hi, I am Ruilin Li.</h2>
			</header>

			<p>
				I am currently a second year Ph.D. student in <a href="http://www.cse.gatech.edu/">Computational Science and Engineering(CSE)</a> @ Georgia Tech. I am fortunate to be advised by Prof. <a href="https://www.cc.gatech.edu/~zha/"> Hongyuan Zha</a>. I obtained my B.S in Mathematics from Fudan University, Shanghai, under supervision of Prof. <a href="http://homepage.fudan.edu.cn/weilin/"> Wei Lin</a>.
			</p>
		</div>
	</section>